*{
    margin: 0;
    padding: 0;
}
body{
    color: #fff;
    background: black;
}
.xg_btn{
    position: absolute;
    left: 50%;
    top: 50%;
    text-decoration: none;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    border-radius: 50px;
    text-transform: uppercase;
    
    background: linear-gradient(90deg, #03a9f4,	#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    animation: xg 8s infinite linear;
}
.xg_btn::before{
    content: "";
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    position: absolute;
    
    border-radius: 50px;
    background: linear-gradient(90deg, #03a9f4,	#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    filter: blur(20px);
    z-index: -1;
    animation: xg 3s infinite linear;
}
.xg_btn:hover{
    animation: xg 3s infinite linear;
}
.xg_btn:hover::before{
    animation: xg 3s infinite linear;
}
@keyframes xg{
    100%{
        background-position:-400% 0;
    }
}